﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <a asp-controller="Search" asp-action="Index" type="button" class="btn btn-secondary btn-lg">Search for medications</a>
</div>